body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header, footer{
    background: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
    width: 100%;

}
footer{
    float: left;
}

#lewy1, #lewy2{
    background: #EFEFEF;
    width: 55%;
}
#lewy1{
    height: 150px;left: 0;float: left;
}
#lewy2{
    height: 300px;left:0;float: left;
}
#prawy{
    background: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float:right;
    top: 0;
}
img{
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
}
table, td,tr,th{
    border: 1px solid #4FB3BF;
    gap: 0;
    border-collapse: collapse;
}
table{
    margin: auto;
    width: 80%;
}
td,tr{
    padding: 4px;
}
td:hover{
    background: #4FB3BF;
}